MyAuthorizationApp/.env.local
MyAuthorizationApp/.vscode/.react/debuggerWorker.js
MyAuthorizationApp/.vscode/.react/index.bundle
MyAuthorizationApp/.vscode/.react/index.map
MyAuthorizationServer/env.js
